<div id="container">
  <dx-drawer template="template" [height]="250" [opened]="true" class="drawer">
    <div *dxTemplate="let data of 'template'">
      <dx-list
        [items]="navigation"
        [width]="200"
        selectionMode="single"
        itemTemplate="links"
        (onItemClick)="onItemClick($event)"
      >
        <div *dxTemplate="let link of 'links'">
          <div *ngIf="link.text !== 'Third'; else jsBlock">
            <a [routerLink]="['/' + link.path]">
              <div>
                <div class="dx-list-item-icon-container">
                  <i
                    class="dx-icon dx-list-item-icon dx-icon-{{ link.icon }}"
                  ></i>
                </div>
                <span>{{ link.text }}</span>
              </div>
            </a>
          </div>
          <ng-template #jsBlock>
            <a>
              <div>
                <div class="dx-list-item-icon-container">
                  <i
                    class="dx-icon dx-list-item-icon dx-icon-{{ link.icon }}"
                  ></i>
                </div>
                <span>{{ link.text }}</span>
              </div>
            </a>
          </ng-template>
        </div>
      </dx-list>
    </div>
    <div id="view" style="margin-left: 20px">
      <router-outlet></router-outlet>
    </div>
  </dx-drawer>
</div>
